<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrar usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Registrar novo usuario</h1>
        <form th:action="@{/cadastro/criar}" th:object="${usuario}" method="POST">
            <p>Nome: <input type="text" th:field="${usuario.nome}"/></p>
            <p>Senha: <input type="text" th:field="${usuario.pass}"/></p>
            <!--<p>Nivel de acesso: <input type="text" th:field="${produto.acesso}"/></p>-->
            <p><input type="submit" value="Registrar usuario"/></p>
        </form>
        </div>
        <div>
        </div>
    </body>
</html>
