<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Retirar produtos</h2><!-- Cabeçalho -->
        <div><!-- navegação temporaria-->
            <h3>Indice de acesso temporario</h3>
            <a th:href="@{/}"> Home</a> |
            <a th:href="@{/adicionarproduto}">Adicionar produto</a> |
            Editar produto
        </div>
        <h2>Detalhes do produto</h2>
        <p>Id: <span th:text="${produto.id}"/></p>
        <p>Nome: <span th:text="${produto.nome}"/></p>
        <p>Estoque: <span th:text="${produto.quantidade}"/></p>
        <p>Descrição: <span th:text="${produto.descricao}"/></p>
        <a th:href="@{'/excluirproduto?id=' + ${produto.id}}">Remover produto do banco!</a>
    </body>
</html>
