<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Controle de Estoque Simples</h3><!-- Cabeçalho -->
        <nav></nav><!-- Painel de controle -->
        <p>Esta pagina mostra a tabela com os produtos</p>
        <div><!-- navegação temporaria-->
            <h3>Indice de acesso temporario</h3>
            Home |
            <a th:href="@{/adicionarproduto}">Adicionar produto</a>
            <a th:href="@{/retirarproduto}">Retirar produto</a>
        </div>
    </body>
</html>
