<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Controle de Estoque Simples</h2><!-- Cabeçalho -->
        <nav><!-- Painel de controle -->
            
        </nav>
        <div><!-- navegação temporaria-->
            <h3>Indice de acesso temporario</h3>
            Home |
            <a th:href="@{/adicionarproduto}">Adicionar produto</a>
            
            <a th:href="@{/cadastrousuario}">| Cadastrar usuario</a><!-- Esconder comando em CSS--> 
        </div>
        
        <h1>Lista de produtos em estoque</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
             <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.id}"></td>
                    <td th:text="${produto.nome}"></td>
                    <td th:text="${produto.quantidade}"></td>
                    <td th:text="${produto.descricao}"></td>
                    <td><a th:href="@{'/editarproduto?id=' + ${produto.id}}">+ Detalhes</a></td><!-- placeholder-->
                </tr>
            </tbody>
         
        </table>
    </body>
</html>
